<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    val transferId: InternalTransferId,
    val paymentId: PaymentId,
    val paymentIntentId: PaymentIntentId,
    val merchantAccountId: String,
    val amount: Amount,
    val targetAccount: String,
    val sourceAccount: String,
    val transferType: String,
    val status: InternalTransferStatus,
    val createdAt: LocalDateTime,
    val updatedAt: LocalDateTime
-->
<mapper namespace="com.dogancaglar.paymentservice.infra.adapter.outbound.persistence.mapper.TransferMapper">

    <resultMap id="TransferResultMap" type="com.dogancaglar.common.db.entity.TransferEntity">
        <id property="transferId"      column="transfer_id"/>
        <id  property="paymentId"           column="payment_id"/>
        <result property="paymentIntentId"   column="payment_intent_id"/>
        <result property="merchantAccountId" column="merchant_account_id"/>
        <result property="amountValue" column="amount_value"/>
        <result property="currency" column="currency"/>
        <result property="sourceAccount" column="source_account"/>
        <result property="targetAccount" column="target_account"/>
        <result property="transferType" column="transfer_type"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="insert" parameterType="com.dogancaglar.common.db.entity.TransferEntity">
        INSERT INTO transfers (
            transfer_id, payment_id,payment_intent_id,merchant_account_id,amount_value, currency,
             source_account, target_account, transfer_type,
            status, created_at, updated_at
        ) VALUES (
            #{transferId},#{paymentId},#{paymentIntentId},#{merchantAccountId}, #{amountValue}, #{currency},
            #{sourceAccount},#{targetAccount}, #{transferType},
            #{status}, #{createdAt}, #{updatedAt}
        )
    </insert>

    <insert id="upsert" parameterType="com.dogancaglar.common.db.entity.TransferEntity">
        INSERT INTO transfers (
        transfer_id, payment_id,payment_intent_id,merchant_account_id,amount_value, currency,
        source_account, target_account, transfer_type,
        status, created_at, updated_at
        ) VALUES (
        #{transferId},#{paymentId},#{paymentIntentId},#{merchantAccountId}, #{amountValue}, #{currency},
        #{sourceAccount},#{targetAccount}, #{transferType},
        #{status}, #{createdAt}, #{updatedAt}
        )
        ON CONFLICT (transfer_id) DO UPDATE SET
            status = EXCLUDED.status,
            updated_at = EXCLUDED.updated_at
    </insert>

    <select id="findById" resultMap="TransferResultMap">
        SELECT * FROM transfers WHERE transfer_id = #{id}
    </select>

    <update id="update" parameterType="com.dogancaglar.common.db.entity.TransferEntity">
        UPDATE transfers
        SET status = #{status},
            updated_at = #{updatedAt}
        WHERE transfer_id = #{transferId}
    </update>

</mapper>
