<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogancaglar.paymentservice.infra.adapter.outbound.persistence.mapper.CentralOutboxForwarderMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO outbox_event (
            oeid, partition_key, event_type, aggregate_id,trace_id,event_id,parent_event_id, payload, status, created_at, updated_at
        ) VALUES
        <foreach collection="list" item="entry" separator=",">
            (
                #{entry.oeid},
                #{entry.partitionKey},
                #{entry.eventType},
                #{entry.aggregateId},
                #{entry.traceId},
                #{entry.eventId},
                #{entry.parentEventId},
                #{entry.payload},
                #{entry.status},
                #{entry.createdAt, typeHandler=com.dogancaglar.common.db.typehandler.InstantTypeHandler},
                #{entry.updatedAt, typeHandler=com.dogancaglar.common.db.typehandler.InstantTypeHandler}
            )
        </foreach>
        ON CONFLICT (oeid, created_at) DO NOTHING
    </insert>

    <select id="isSchemaReady" resultType="boolean">
        SELECT EXISTS (
        SELECT FROM information_schema.tables
        WHERE table_schema = 'public'
        AND table_name = 'edge_watermarks'
        )
    </select>

    <!-- Edge Watermark Operations -->
    <insert id="upsert" parameterType="com.dogancaglar.common.db.entity.EdgeWatermarkEntity">
        INSERT INTO edge_watermarks (edge_node_id, forwarded_up_to)
        VALUES (#{edgeNodeId}, #{forwardedUpTo})
        ON CONFLICT (edge_node_id) DO UPDATE
        SET forwarded_up_to = EXCLUDED.forwarded_up_to
    </insert>

    <delete id="deleteWatermark" parameterType="string">
        DELETE FROM edge_watermarks WHERE edge_node_id = #{edgeNodeId}
    </delete>

</mapper>
